{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
    <link rel='stylesheet' href='{% static "main.css" %}'>
</head>
<body>
 <div class="wrapper">
  <header class="site-header">
    <nav>
      <a href="/"><strong>IS</strong></a> |
      <a href="/members">Members</a>
      <a href="/">Info</a>
      <a href="/">Newsletter</a>
    </nav>
  </header>

  <main>
    <div class="home-page">
      <div class="block">
        <h1>I'm Israel.</h1>
        <p class="intro">I'm a writer helping people get the most out of the web. I care about creating accessible and inclusive experiences with the help of technology.</p>
        <p>I also send a well-received email newsletter.</p>
        <a href="/" class="button">Subscribe here</a>
      </div>
      <div class="block">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/48935/hello.jpg" alt="An illustration of me in profile">
      </div>
    </div>
  </main>

  <footer>
    <small>All content &copy; Israel. All rights reserved.</small>
  </footer>
</div>
</body>
</html>