<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TESTING</title>
</head>
<body>
    <h1>Hello {{ firstname }}, how are you?</h1> <!-- get the variable from views -->
    {% for x in firstname %}
      <h1>{{ x }}</h1>
    {% endfor %}

    <p>In views.py you can see what the fruits variable looks like.</p>

{% with surname="Faustino" %}
    <h2>Hi Sr. {{ surname }}, how are you?</h2>
{% endwith %}

<ul>
    {% for x in mymembers %}
    <li>{{ x.firstname }}</li>
    {% endfor %}
</ul>

</body>
</html>